@define-color foreground #cdd6f4;
@define-color background #181824;

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font Mono';
  font-size: 14px;
}

window#waybar {
  background-color: @background;
}

.modules-right {
  margin-right: 4px;
}

#workspaces button {
  padding: 0px 2px;
  border: none;
  color: @foreground;

}


#workspaces button.active {
    background-color: @foreground;
}

#workspaces button.visible {
   color: @background;
}


#cpu,
#memory,
#tray,
#bluetooth,
#pulseaudio {
  margin: 0 7.5px;
}


#window {
    margin: 0 10px;
}

#clock {
  margin-left: 10px;
}
